.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

.main {
    flex: 1;
    margin-left: 280px;
    /* Width of sidebar */
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
    }
}